<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
    <title>ForumX - Account Activation</title>
</head>
<body>
	<div>
		<p>
            <b th:text="${email}">xxx@xxx.com</b>, 您好!
        </p>
		<p>
			You are registering for ForumX. This is an activation email. Please click
			<a th:href="${url}">this link</a>,
			to activate your account.
		</p>
	</div>
</body>
</html>